.aplayer
  //margin-bottom: 20px !important
  font-size: initial
  font-family: initial
  font-weight: initial
  &.aplayer-withlrc
    .aplayer-body
      .aplayer-pic
        height: 106px !important
        width: 106px !important
        &:hover
          height: 356px !important
          width: 356px !important
      .aplayer-info
        height: 106px !important
        //margin-left: 106px !important
        padding-left: 20px !important
        .aplayer-lrc
          height: 48px !important
          .aplayer-lrc-contents
            margin-top: 17px !important
            p
              opacity: .75 !important
            .aplayer-lrc-current
              opacity: 1 !important
    .aplayer-list > ol
      scrollbar-width: thin !important
      scrollbar-color: auto
      margin: 0
      overflow-y: auto !important
    .aplayer-list > ol::-webkit-scrollbar
      display: none !important

.slider 
	width 60px
	height 30px
	background-color #ccc
	border-radius 15px
	position relative
	input[type="checkbox"] 
		opacity 0
		width 0
		height 0
	label 
		display block
		width 30px
		height 30px
		background-color #fff
		border-radius 50%
		position absolute
		top 0
		left 0
		transition all 0.2s ease
		cursor pointer
	input[type="checkbox"]:checked 
		& + label 
			left calc(100% - 30px)

/*input#toggle[type="checkbox"]
  appearance: none
  width: 64px
  height: 32px
  position: relative
  border-radius: 16px
  cursor: pointer
  background-color: #777
  &:before
    content: ""
    position: absolute
    width: 28px
    height: 28px
    background: white
    left: 2px
    top: 2px
    border-radius: 50%
    transition: left cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s
  &:after
    content: "开 关"
    text-indent: 12px
    word-spacing: 4px
    display: inline-block
    white-space: nowrap
    color: white
    font: 14px/30px monospace
    font-weight: bold
*/