<footer class="app-footer">
  <p class="copyright">
    Copyright &copy; 2017 - <%= new Date().getFullYear() %>, <%- config.title %>, All Rights Reserved. <%- theme.footer %><br/>
  </p>
</footer>

<script>
  function async(u, c) {
    var d = document, t = 'script',
      o = d.createElement(t),
      s = d.getElementsByTagName(t)[0];
    o.src = u;
    if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
    s.parentNode.insertBefore(o, s);
  }
</script>
<%- js('js/script') %> <!--无法移至head.js中，原因不明-->
<script type="text/javascript" src="/js/busuanzi.min.js" async></script>
